astroid==2.4.2
blessed==1.17.6
chess==1.3.3
colorama==0.4.4
inquirer==2.7.0
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.6.0
python-editor==1.0.4
readchar==2.0.1
rope==0.18.0
six==1.15.0
toml==0.10.2
wcwidth==0.2.5
wrapt==1.12.1
